body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navigation Bar */
header {
    position: fixed; 
    width: 100%;
    z-index: 1000; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    height: 40px;
    width: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #2326db;
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
    padding-right: 20px;
}

/* Styling the left and right sections of the webpage */
.container {
    display: flex;
}

.left-section, .right-section {
    min-height: 100vh;
    box-sizing: border-box;
}

.left-section {
    flex: 1;
    background: url('../js-midterm/images/ConnectPal.jpg') center/cover no-repeat;
    background-color: #ebebff;
    text-align: left;
    padding: 50px;
    color: #2326db;
    position: relative;
}

.right-section {
    flex: 2;
    text-align: left;
    padding: 50px;
    background-color: white;
}

.right-section p {
    color: gray;
}

.right-section h2 {
    margin-bottom: 0;
    padding-top: 50px;
}

h1 {
    color: #2326db;
    padding-top: 50px;
}

/* The Worst Number Enterer? CSS */
#numberBoxes {
    display: flex;
}

#numberBoxes input {
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #2326db;
    background-color: #f7f7f7;
    border: 2px solid white;
    border-radius: 5px;
    margin-right: 5px;
}

#set-button, #restart-button {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #2326db;
    border: 2px solid white;
    color: white;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#set-button:hover, #restart-button:hover  {
    cursor: pointer;
    background-color: #3537db ;
    color: white;
}

/* Pop Up Alert Box */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*
.popup-content i {
    font-size: 70px;
    color: #2326db;
}
*/

.popup-content h2 {
    margin-top: 20px; 
    font-size: 25px; 
    font-weight: 500;
}

.popup-content h3 {
    font-size: 16px; 
    font-weight: 400;
}

.popup button {
    padding: 10px 20px;
    background-color: #2326db;
    border: 2px solid white;
    color: white;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.popup button:hover {
    cursor: pointer;
    background-color: #3537db;
    color: white;
}
